<app-header titulo="Cards"></app-header>

<ion-content>
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

<ion-card>
  <ion-item color="primary">
    <ion-icon color="light" name="pin" slot="start"></ion-icon>
    <ion-label>Marcador</ion-label>
  </ion-item>

  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, incidunt necessitatibus voluptate facere ex fugit facilis aperiam esse. Magni repellat placeat reiciendis voluptatem, blanditiis ut quia quaerat non assumenda nemo?
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-img src="/assets/shapes.svg"></ion-img>
  <ion-card-content>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus obcaecati officia laborum cumque quisquam ipsam, dolor quasi voluptatibus perferendis ducimus, totam distinctio placeat animi tempore fugit accusamus, repellendus enim culpa?
  </ion-card-content>
</ion-card>

</ion-content>
